@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Press Start 2P", system-ui;
    font-size: 12px;
    background: #010102 url("https://picsum.photos/1600/900");
    background-size: cover;
    background-position: center center;
    color: #ffffff;
}

.container {
    height: 640px;
    min-width: 400px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b2631e1;
    border-radius: 20px;
    user-select: none;
}

.container h1 {
    width: 100%;
    padding: 22px 40px;
    color: #fad801;
    text-align: center;
    text-shadow: 2px 2px 2px #6b6bf2;
    letter-spacing: .1em;
    border: 2px solid #fad801;
    border-radius: 10px;
}

#game-options {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    user-select: none;
}

button {
    padding: 8px;
    font-size: 48px;
    background-color: #2f2a26;
    border: none;
    border-radius: 10px;
    transition: all .2s;
    cursor: pointer;
}

button:hover {
    filter: grayscale(70%);
}

button:active {
    filter: grayscale(100%);
}

#rock {
    background-color: #ff4500;
}

#paper {
    background-color: #00c7f7;
}
#scissors {
    background-color: #b3e65b;
}

#user-score {
    color: #00ff00;
}

#computer-score {
    color: #f55f0d;
}

.result-area {
    width: 100%;
    padding: 20px 10px;
    background-color: #2e4053;
    text-align: center;
}

.result-area h2 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #6cadf8;
    letter-spacing: .2em;
}

.results {
    padding: 10px;
    background-color: #283747;
    display: none;
}

.play-values {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    color: #fad801;
    font-size: .8em;
    border: 1px solid #636060;
    border-radius: 10px;
}


.play-values div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.play-values div p {
    font-size: 2.5em;
}

.play-values div img {
    width: 48px;
}

.play-values .versus {
    color: #c5bfbf;
}

.result {
    margin: 10px;
}

.result div {
    margin-top: 10px;
    font-size: 2em;
}

.scoreboard {
    margin-top: 20px;
    padding: 10px;
    background-color: #283747;
}

.scoreboard p {
    margin: 10px 0;
}

@media screen and (max-width: 500px) {
    body {
        background: #1b2631;
    }
}